/**/
* {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  color: #05445e;
}
/* gives page background color*/
body {
  background-color: #d4f1f4;
  background-image: url(../images/background.png);
}
button {
  background-color: #607f92;
  border: none;
  text-shadow: 2px 2px 4px #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
h2 {
  font-size: 25px;
}
/*gives high score button its properties*/
/* .score {
  line-height: 28px;
  width: 20px;
  font-size: 14pt;
  font-family: calibri;
  margin: 30px;
  margin-left: 2px;
  position: relative;
  top: 0;
  left: 0;
  text-decoration: none;
} */
/* gives timer its properties*/
/* .timer {
  line-height: 28px;
  width: 20px;
  font-size: 14pt;
  font-family: calibri;
  text-decoration: none;
} */
.card {
  background-color: #607f92;
  opacity: 95%;
}
/* positions timer*/
.time-remaining {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  margin-right: 2px;
}
/* positions start button*/
.start-button {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  margin: 0 auto;
  margin-top: -225px;
  font-size: 35px;
  font-weight: 600;
  color: #189ab4;
  border-radius: 5px;
}
/*gives title its positioning*/
h1 {
  text-shadow: 2px 2px 4px #fff;
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS";
  font-size: 40px;
}
/*gives info its positioning*/
p {
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 4px #fff;
}
/* gives questions its positioning*/
.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 150px;
}
/*gives answer  choices properties*/
.answer {
  margin: 3px;
  border: none;
  color: #05445e;
  font-size: 18px;
  border: 1px solid #2c3832;
  text-shadow: 2px 2px 4px #fff;
  border-radius: 12px;
  padding: 10px 20px;
  width: 200px;
  text-align: left;
}
/* places submit button*/
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px;
}
input {
  border-radius: 5px;
  padding: 15px;
}
/* positions footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
